<html>
<head>
    <title>Nginx Site Created by Chef</title>
</head>
<body>
    <h3>This is Nginx by Chef</h3>
    <p><b>Hostname:</b> <%= node[:hostname] %></p>
    <p><b>FQDN:</b> <%= node[:fqdn] %></p>
    <p><b>IP Address:</b> <%= node[:ipaddress] %></p>
    <p><b>Platform:</b> <%= node[:platform] %></p>
</body>
</html>
